.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.property_table{
column-width: 20px;
}

.NewLogOut{
  margin-left: 20px;
}

.AllAirBnB{
  margin-left: 20px;
}

.Delete{
  margin-left: 230px;
}

.your_property{
  margin-left: 20px;
}