<div class="container">
  <h1>AirBNB Lite</h1>

  <table>
    <tr height="100px">
      <td>
        <form action='/' method='post'>
<p>Please Sign into your account to continue</p>
<p>Or Register for an account</p>

  </form>
    </td>
    </tr>
      <tr height="30px">
      <td align="left">
      <a href="/sign_in"><button type='submit'>Sign in</button></a>
      </td>
      </tr>
      <tr height="30px">
      <td align="left">
      <a href="/register"><button type='submit'>Register</button></a>
      </td>
    </tr>
  </table>
</div>