<div class="container" align="center">
  <h1>Register your account</h1>

    <form action='/register' method='post'>
      <table width="250px">
        <tr height="50px">
          <td width="100px">Username:</td>
          <td><input name='username' type='text' autofocus></td>
          </tr>
          <tr height="50px">
            <td width="100px">Email:</td>
            <td><input name='email' type='text'></td>
          </tr>
          <tr height="50px">
            <td width="100px">Password:</td>
            <td><input name='password' type='text'></td>
          </tr>
          <tr height="50px">
            <td colspan = "2" align="left"><input type="submit" name="register" value="Register"></td>
          </tr>
        </table>
      </form>
    </div>