<div class="container" align="center">
  <h1>Sign in to account</h1>

    <form action='/sign_in' method='post'>
      <table width="250px">
        <tr height="50px">
          <td width="100px">Email:</td>
          <td><input name='email' type='text'></
          </td>
          </tr>
          <tr height="50px">
            <td width="100px">Password:</td>
            <td><input name='password' type='text'>
            </td>
          </tr>
          <tr height="50px">
            <td colspan = "2" align="left"><input type="submit" name="sign_in" value="Submit"></td>
          </tr>
        </table>
      </form>
    </div>