<div class="container" align="center">
  <h1>Your AirBNB Homepage!</h1>

  <div class="menu">
    <button id="return"><a href="/">Return</a></button>
  </div>

<ul>
<% @list = Property.where(user_id: @user.id) %>
<% @list.each do |row| %>
  <p><%= row.room_type %></p>
<% end %>
</ul>

<form action='/logout' method='post'>
<button> Logout </button>
</form>
</div>