  <div class="container">
    <h1>Your AirBNB Homepage!</h1>
    <p>View Your Property<br>

  <form action="/user_page/view" method='get'>
    <div>
    <h2>Your List of Properties</h2>
    <% @list = Property.where(@user.id) %>
    <% @list.each do |row| %>
    <p><%= row.room_type %></p>
    <% end %>
    </div>
  </form>
</div>

<% Tag.all.each_with_index do |tag, i| %>
    <input name=<%="tags[" + tag.tag_text + "]"%> type="checkbox" > <%=tag.tag_text%>
    <% end %>