<div class="container" align="center">
  <h1>Your AirBNB Homepage!</h1>
</div>

<p>What would you like to do?</p>

<form action='/user_page/new' method='post'>
<button> New Property </button>
</form>
</div>

<form action='/user_page/edit' method='post'>
<button> Edit Your Property </button>
</form>
</div>

<form action='/user_page/delete' method='post'>
<button> View Your Property </button>
</form>
</div>

<form action='/user_page/delete' method='post'>
<button> Delete Your Property </button>
</form>
</div>

<form action='/logout' method='post'>
<button> Logout </button>
</form>
</div>